*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Nunito', sans-serif;
}

.landing{
    width: 100vw;
    height: 90vh; 
    background-image: url("img/office.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 80vw;
    margin: auto;
    padding-top: 50px;
}

header{
    padding-top: 15px;
    min-height: 45px;
}

header a {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

header ul {
   margin: 0px;
   padding: 0px;
}
 
header li {
    list-style: none;
    display: inline;
    padding: 0 20px 0 20px;
   
}

header .highlight {
    float: left;
    margin: 0px;
    color:#ffffff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

header nav{
    float: right;
    margin-top: 10px;
}

header a:hover{
    color: indianred;
    font-weight: bold;
    text-decoration: underline;
}

#text{
    color:#ffffff;
    padding-top: 60px;
    font-size: 40px;
}

.card{
    margin-top: -100px;
}

.cards{
    margin-top: -100px;
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25em;
    grid-gap: 15px;
    text-align: center;
}

.card1, .card2, .card3{
   
    padding: 40px;
    display: block;
    /*background-color: #fafafa;*/
    background-color: #b0e0e6;
    text-align: center;
    box-shadow: 5px 10px #ffffff;
}

.card1 img {
    width: 27%;
    height: 27%;
    padding-bottom: 10px;
}

.card2 img {
    width: 27%;
    height: 27%;
    padding-bottom: 10px;
}

.card3 img {
    width: 27%;
    height: 27%;
    padding-bottom: 10px;
}

.design{
    margin: 12px 0px 15px 0px;
}

.mover{
    margin-bottom: 10px;
}

button {
    padding: 10px 30px;
    border-radius: 10px;
    color: cadetblue;
    background-color: white;
    font-size: 15px;
    cursor: pointer; 
    border-color: #b0e0e6;
}

button:hover {
    color: white;
    background-color: blue;
}

.hello{
    width: 80vw;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 22em;
    grid-gap: 38px;
    line-height: 25px;
}

.hello h1{
    font-size: 35px;
    padding-bottom: 25px;
}

.hello1{
    margin: 10px 0px;
    line-height: 25px;
    padding: 40px 0px;
}

.hello1 p{
    margin-bottom: 30px;
}

.hello2{
    background: url(img/hong-kong.jpg);
}

.title{
    width: 80vw;
    margin: auto;
    font-size: 35px;
    padding-bottom: 20px;
}

.projects1{
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 22em;
}

.projects1 div:nth-child(1){
    background: url(img/hong-kong.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects1 div:nth-child(2){
    background: url(img/pepper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects1 div:nth-child(3){
    background: url(img/monitor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.projects1 div:nth-child(4){
    background: url(img/pepper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.solve{
    width: 80vw;
    margin: auto;
    padding: 30px 0px 70px 0px;
}

.grow{
    padding: 40px 0px;
    font-size: 40px;
}

.solution{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7em;
    grid-gap: 10px;
    background-color: white;
}

.safety, .environment, .risk, .design{
    line-height: 28px;
}

.env, .rk, .ss, .ds{
    
    overflow: hidden;
}

.people{
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 25em;
    background-color:  #b0e0e6;
}

.people1{
    text-align: center;
}

.people1a{
    margin: 60px 0px 40px 0px;
}

.people1 p{
    display: inline-block;
    line-height: 40px;
    padding-left: 190px;
}

.people2{
    background: url(img/girl.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footing{
    width: 100vw;
    height: 30vh;
    /*background-color: rgba(204, 204, 204, 0.2);*/
    background-color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 7em;
    grid-gap: 10px;
    width: 80vw;
    margin: 20px auto;
    text-align: center;
}

.info img {
    width: 27%;
    height: 27%;
    padding-bottom: 10px;
}

.icon{
    width: 40vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 19em;
    grid-gap: 2px;
    padding-bottom: 50px;
}

.icon1, .icon2, .icon3, .icon4{
    width: 20%;
    height: 25%;
}

@media all and (max-width: 600px) {
   .landing{
       height: 70vh;
   }

   .container{
       width: 100vw;
       margin: auto;
       padding-top: 5px;
   }

  header .highlight {
   float: none;
   display: block;
    width: 60vw;
    margin: auto;

   }

   header ul{
    padding: 5px;
    text-align: center;
    width: 100vw;
    margin: auto;
   }



   #text{
       font-size: 30px;
       text-align: center;
       padding-top: 60px;
   }

   .cards{
       display: grid;
       grid-template: 25em/ 1fr;
   }

   .hello{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 25em;
       grid-auto-rows: 25em;
       grid-gap: 5px;
       margin: 0px auto 50px auto;
   }

   .hello h1{
    font-size: 35px;
    padding-bottom: 15px;
}

.hello1{
    margin: 10px 0px;
    line-height: 22px;
    padding: 40px 0px;
}

.hello1 p{
    margin-bottom: 20px;
}

   .projects1, .people{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25em;
    grid-auto-rows: 25em;
    grid-gap: 10px;
    width: 80vw;
    margin: auto;
   }

   .solution{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8em;
    grid-auto-rows: 8em;
    grid-gap: 5px;
    width: 80vw;
   }

   .grow{
    padding: 20px 0px;
    font-size: 40px;
}

   .safety, .environment, .risk, .design{
    line-height: 25px;
}

    .people{
    grid-template-columns: 1fr;
    grid-template-rows: 22em; 
    grid-gap: 10px;
    }

   .people1a, .people1 p{
    margin: 10px 30px;
    padding-left: 20px;
   }

   .info{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: 7em;
       grid-auto-rows: 7em;
       grid-gap: 0px;
       font-size: 10px;
       width: 100vw;
       margin: 5px auto;
   }

   .footing{
       padding-bottom: 0px;
       height: 31vh;
   }

   .icon{
       padding-top: 5px;
       padding-bottom: 0px;
       margin: 0px auto;
       grid-template-rows: 2.5em;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}